<md-dialog ng-controller="EventosController" ng-init="obtenerE()" ng-cloak>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2 style="color:#DDDDDD">Editar evento</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content">
			<form name="editForm">
				<p>Por favor ingrese los datos del evento.</p>
				<md-input-container flex class="md-block">
					<label>{{evento.tituloEvento}}</label>
					<input ng-model="editevent.nombre" required>
				</md-input-container>
				<md-input-container flex class="md-block">
					<label>{{evento.descripcionEvento}}</label>
					<input ng-model="editevent.descripcion" required>
				</md-input-container>
				<md-select placeholder="Tipo de Evento" ng-model="editevent.tipo" ng-init="loadTipo()" style="min-width: 200px;">
      				<md-option ng-value="tipo" ng-repeat="tipo in tipos" ng-selected="evento.foto==tipo.tipoEvento">{{tipo.tipoEvento}}</md-option>
    			</md-select>
    			<md-select placeholder="Lugar" ng-model="editevent.lugar" ng-init="loadLugar()" style="min-width: 200px;">
      				<md-option ng-value="lugar" ng-repeat="lugar in lugares" ng-selected="evento.nombreLugar==lugar.nombreLugar">{{lugar.nombreLugar}}</md-option>
    			</md-select>
    			<h4>Inicio del evento</h4>
				<mdp-date-picker mdp-placeholder="{{ editevent.fin | date:'dd/MM/yyyy'}}" mdp-format="DD/MM/YYYY" ng-model="editevent.inicio" mdp-min-date="minDate" mdp-max-date="maxDate">
				</mdp-date-picker>
    			<mdp-time-picker ng-model="editevent.inicio">
				</mdp-time-picker>
    			<h4>Termino del evento</h4>
				<mdp-date-picker mdp-placeholder="{{ editevent.fin | date:'dd/MM/yyyy'}}" mdp-format="DD/MM/YYYY" ng-model="editevent.fin" mdp-min-date="minDate" mdp-max-date="maxDate">
				</mdp-date-picker>
    			<mdp-time-picker ng-model="editevent.fin">
				</mdp-time-picker>
				<h4>Estado del evento</h4>
				<md-switch class="md-primary" ng-model="editevent.estado" aria-label="Switch 1">
    			{{ editevent.estado === true ? "Habilitado" : "Deshabilitado" }}
  				</md-switch>
			</form>
		</div>
	<md-dialog-actions layout="row">
		<span flex></span>
		<md-button ng-click="edit_event(editevent)" style="color:#FFF;background-color:#090">
			Terminar edición
		</md-button>
	</md-dialog-actions>
</md-dialog>