<md-dialog ng-controller="EventosController" ng-init="obtener()" ng-cloak>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2 style="color:#DDDDDD">Registrar nuevo evento</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content">
			<form name="searchForm">
				<p>Por favor ingrese los datos del evento. {{ id_user }}</p>
				<md-input-container flex class="md-block">
					<label>Titulo</label>
					<input ng-model="newevent.nombre" required>
				</md-input-container>
				<md-input-container flex class="md-block">
					<label>Descripción</label>
					<input ng-model="newevent.descripcion" required>
				</md-input-container>
				<md-select placeholder="Tipo de Evento" ng-model="newevent.tipo" ng-init="loadTipo()" style="min-width: 200px;">
      				<md-option ng-value="tipo" ng-repeat="tipo in tipos">{{tipo.tipoEvento}}</md-option>
    			</md-select>

    			<md-select placeholder="Lugar" ng-model="newevent.lugar" ng-init="loadLugar()" style="min-width: 200px;">
      				<md-option ng-value="lugar" ng-repeat="lugar in lugares">{{lugar.nombreLugar}}</md-option>
    			</md-select>
    			<h4>Fecha de inicio del evento</h4>
				<mdp-date-picker mdp-placeholder="Fecha de inicio del evento" mdp-format="DD/MM/YYYY" ng-model="newevent.inicio" mdp-min-date="minDate" mdp-max-date="maxDate">
				</mdp-date-picker>
    			<h4>Hora de inicio del evento</h4>
				<mdp-time-picker mdp-placeholder="Hora de inicio del evento" ng-model="newevent.inicio">
				</mdp-time-picker>
    			<h4>Fecha de termino del evento</h4>
				<mdp-date-picker mdp-placeholder="Fecha de inicio del evento" mdp-format="DD/MM/YYYY" ng-model="newevent.fin" mdp-min-date="minDate" mdp-max-date="maxDate">
				</mdp-date-picker>
    			<h4>Hora de termino del evento</h4>
				<mdp-time-picker mdp-placeholder="Hora de inicio del evento" ng-model="newevent.fin">
				</mdp-time-picker>
			</form>
		</div>
	<md-dialog-actions layout="row">
		<span flex></span>
		<md-button ng-click="create_event(newevent)" style="color:#FFF;background-color:#090">
			Registrar Evento
		</md-button>
	</md-dialog-actions>
</md-dialog>