<md-dialog ng-controller="registerController" ng-cloak>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2 style="color:#DDDDDD">Registrar nuevo usuario</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content">
			<form name="searchForm">
				<p>Por favor ingrese sus datos para registrarse en Eventos Usach.</p>
				<md-input-container flex class="md-block">
					<label>Nombre</label>
					<input ng-model="newuser.nombre" required>
				</md-input-container>
				<md-input-container flex class="md-block">
					<label>Apellido</label>
					<input ng-model="newuser.apellido" required>
				</md-input-container>
				<md-input-container flex class="md-block">
					<label>Correo</label>
					<input ng-model="newuser.correo" type="email" required>
				</md-input-container>
				<md-input-container flex class="md-block">
					<label>Carrera</label>
					<input ng-model="newuser.carrera" required>
				</md-input-container>
				<md-input-container flex class="md-block">
					<label>Contraseña</label>
					<input ng-model="newuser.password" type="password" required>
				</md-input-container>
				<md-input-container flex class="md-block">
					<label>Repetir Contraseña</label>
					<input ng-model="newuser.repassword" type="password" required>
				</md-input-container>
			</form>
			<div class="alert alert-danger" role="alert" ng-show="newuser.error">
				<span class="glyphicon glyphicon-exclamation-sign"></span>
  				Complete todos los campos
			</div>
			<div class="alert alert-danger" role="alert" ng-show="newuser.email_error">
				<span class="glyphicon glyphicon-exclamation-sign"></span>
  				Ingrese un Correo válido
			</div>
			<div class="alert alert-danger" role="alert" ng-show="newuser.notmatch">
				<span class="glyphicon glyphicon-remove-sign"></span>
  				Las password no coinciden
			</div>
			<div class="alert alert-danger" role="alert" ng-show="newuser.email_usado">
				<span class="glyphicon glyphicon-remove-sign"></span>
  				Email en uso. Porfavor utilice otro.
			</div>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<span flex></span>
		<md-button ng-click="answer(newuser)" style="color:#FFF;background-color:#090">
			Registrar
		</md-button>
	</md-dialog-actions>
</md-dialog>
