<md-dialog ng-controller="settingsController" ng-init="obtener()" ng-cloak>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2 style="color:#DDDDDD">Configuración</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content">
			<form ng-submit="$event.preventDefault()" name="searchForm">
				<span flex>Preferencia de eventos.</span>
				<md-list-item ng-repeat="tipo in tipos">
					<md-checkbox ng-model="credentials.box" aria-label="tipo.tipoEvento" class="md-primary md-align-top-left"></md-checkbox>{{tipo.tipoEvento}}<br/>
           		</md-list-item>
           		<hr/>
				<span>Cambiar contraseña</span>
				<md-input-container flex class="md-block">
					<label>Contraseña antigua</label>
					<input type="password" ng-model="credentials.oldpassword">
				</md-input-container>
				<md-input-container flex class="md-block">
					<label>Nueva contraseña</label>
					<input type="password" ng-model="credentials.newpassword">
				</md-input-container>
				<md-input-container flex class="md-block">
					<label>Repetir nueva contraseña</label>
					<input type="password" ng-model="credentials.newpasswordrep">
				</md-input-container>
			</form>
			<div class="alert alert-danger" role="alert" ng-show="credentials.error">
				<span class="glyphicon glyphicon-exclamation-sign"></span>
	  			Credenciales Inválidas
			</div>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<span flex></span>
		<md-button type="submit" ng-click="disable()" style="color:#FFF;background-color:#900">
			Deshabilitar Cuenta
		</md-button>
		<md-button type="submit" ng-click="edit()" style="color:#FFF;background-color:#090">
			Ingresar
		</md-button>
	</md-dialog-actions>
</md-dialog>
