		<md-content ng-controller="EventosController">
			<md-list ng-init="obtener()">
				<md-list-item class="md-2-line" ng-repeat="evento in eventos">
					<img ng-src="img/icons/{{evento.foto}}.png" class="face" alt="{{evento.foto}}" ng-cloak>
					<div class="md-list-item-text" style="float:left;width:80%;text-align:justify;">
						<h3>{{evento.titulo}}</h3>
						<p>{{evento.descripcion}}</p>
					</div>
					<div style="float:left;padding-right: 0em;text-align:center">
						<md-button ng-click="addMarker(evento.lat,evento.lng);details(evento.id)">Ver</md-button>
						<md-button style="background-color:#00AA00;border-color:#000000;" ng-if="!asiste(evento.idEvento)" ng-click="suscribe(evento.idEvento,true)">Asistir</md-button>
						<md-button style="background-color:#EE3333;border-color:#000000;" ng-if="asiste(evento.idEvento)" ng-click="desuscribe(evento.idEvento,false)">Cancelar</md-button>
					</div>
					<md-divider ng-if="!$last"></md-divider>
				</md-list-item>
			</md-list>
		</md-content>