<script>
var map=new google.maps.Map(document.getElementById("googleMap"),{
	center:{lat:-33.450242, lng:-70.686313},
  zoom:19,
  zoomControl: false,
  rotateControl: false,
  mapTypeId:google.maps.MapTypeId.SATELLITE
});
var markers=[];
var infowindows=[];
</script>

<md-content>
<!-- Header -->
<md-toolbar ng-controller="headerController">
	<div class="md-toolbar-tools">
		<h2>Eventos Usach</h2>
		<span flex=""></span>
		<md-button class="md-secondary" aria-label="Home" ng-click="home()">
			<span class="glyphicon glyphicon-user"></span>
			{{ session.getUser() }}
		</md-button>
		<md-button class="md-icon-button" aria-label="Settings" ng-click="settings($)">
			<span class="glyphicon glyphicon-wrench"></span>
		</md-button>
		<md-button class="md-icon-button" aria-label="Logout" ng-click="logout($)">
			<span class="glyphicon glyphicon-log-out"></span>
		</md-button>
	</div>
	<div class="md-toolbar-tools" style="height:24px;background:#FFF;">
		<span flex=""></span>
		<md-button class="md-raised" aria-label="Nuevo Evento" ng-click="nuevo()">
			<span class="glyphicon glyphicon-plus-sign"></span>
			Nuevo Evento
		</md-button>
		<md-button class="md-raised" aria-label="Mis Suscripciones" ng-click="suscripciones()">
			<span class="glyphicon glyphicon-list-alt"></span>
			Mis Suscripciones
		</md-button>
		<md-button ng-if="auth.isAdmin()" class="md-raised" aria-label="Administracion" ng-click="Administrar()">
			<span class="glyphicon glyphicon-cog"></span>
			Administración
		</md-button>
		
	
	</div>
</md-toolbar>

<!-- Main -->
<section id="main" class="container">
	<div id="" style="float:left;width:600px;padding-left:0em;">
		<md-content ng-controller="EventosController">
			<md-list ng-init="fetch()">
				<md-list-item class="md-2-line" ng-repeat="evento in eventos">
					<img ng-src="img/icons/{{evento.foto}}.png" class="face" alt="{{evento.titulo}}">
					<div class="md-list-item-text">
						<h3>{{evento.titulo}}</h3>
						<p>{{evento.descripcion}}</p>
					</div>
					<md-button class="md-secondary" ng-click="addMarker(evento.lat,evento.lng);details(evento.id)">Ver</md-button>
					<md-divider ng-if="!$last"></md-divider>
				</md-list-item>
			</md-list>
		</md-content>
	</div>
	<div id="googleMap" style="width:500px;height:380px;margin:auto;float:left;"></div>
</section>

</md-content>